footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #75c8ae;
  padding: 2rem;
  // border: solid red;
  .bottom-logo {
    margin-right: 10rem;
    // border: solid red;
    width: 10rem;
    border-radius: 50px;
    .logo-bottom {
      border-radius: 50px;
    }
  }
  .site-link {
    margin-right: 10rem;
    border: solid red;
    a {
      font-size: 2rem;
      padding: 1rem;
      font-family: 'Cuprum', sans-serif;
      text-decoration: none;
      color: black;
    }
    p {
      padding: 2rem;
    }
  }
}
