.container {
  @media @mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    //border: 1px solid red;
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: @backgroundc;
    @media @mobile {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .top-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        // border: 1px solid red;
      }
    }
    .top-pic1 {
      width: 48%;
      padding-left: 1%;
      @media @mobile {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
        // border: 1px solid red;
      }
    }
    img {
      border-radius: 10px;
    }
  }
  .middle-content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    //border: 1px solid purple;
    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      width: 100%;
      // border: 1px solid red;
    }
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile {
        display: flex;
        flex-wrap: wrap;
        margin-left: 8rem;
        width: 75%;
      }
    }
  }
  .middle-pic {
    width: 48%;
    padding-left: 1%;
    padding-right: 1%;
    padding-left: 0;
    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      width: 100%;
      // border: 1px solid red;
    }

    img {
      border-radius: 10px;
    }
  }
  .bottom-content {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    background: #cde7df;
    //border: 1px solid green;
    @media @mobile {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      // border: 1px solid red;
    }
    .feature {
      font-size: 10rem;
      display: flex;
      justify-content: center;
      @media @mobile {
        display: flex;
        flex-wrap: wrap;
        font-size: 10rem;
        justify-content: center;
      }
    }

    .features {
      display: flex;
      justify-content: space-between;
      padding: 8rem;
      padding-top: 20px;
      @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 2rem;
        width: 100%;
      }

      .bottom {
        width: 30%;
        margin-bottom: 30px;
        @media @mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          //flex-wrap: wrap;
          padding: 2rem;
          width: 100%;
        }
      }
    }
  }
} //container
button {
  border-radius: 1em;
  height: 4rem;
  width: 15rem;
  font-size: 2rem;
  background-color: #75c8ae;
  color: white;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
