header {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  nav {
    display: flex;

    text-decoration: none;
    width: 100%;
  }
  a {
    font-size: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    color: black;
  }
}
.logo {
  width: 13rem;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../img/kirsty-tg-pKo6tevKg4c-unsplash (1).jpg');
  background-size: cover;

  h1 {
    font-family: 'Covered By Your Grace', cursive;
    text-shadow: 10px 2px 2px #e03000;
    color: white;
    font-size: 9rem;
    padding: 2rem;
  }
  p {
    font-family: 'Covered By Your Grace', cursive;
    text-shadow: 10px 2px 2px #e03000;
    color: white;
    font-size: 4rem;
    padding: 1rem;
    // border: solid red;
  }
  button {
    font-family: 'Cuprum', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    width: 40rem;
    height: 7rem;
    border-radius: 8px;
    background-color: #75c8ae;
    color: white;
  }
}
