//color
@font-color: black;
@button-bg: @mediumaquamarine;
@shadow: @orangered;
@footer: @mediumaquamarine;
@backgroundc: @background;
//colors
@white: white;
@mediumaquamarine: #75c8ae;
@orangered: #e03000;
@background: #cde7df;
//escaping
@mobile: ~'(max-width: 500px)';
