.container {
  // border: solid red;
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #cde7df;
    .top-content {
      width: 48%;
      padding-right: 1%;
    }
    .top-pic1 {
      width: 48%;
      padding-left: 1%;
    }
    img {
      border-radius: 10px;
    }
  }
  .middle-content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    // border: 1px solid purple;
    .text-content {
      width: 48%;
      padding-right: 1%;
    }
  }
  .middle-pic {
    width: 48%;
    padding-left: 1%;
    padding-right: 1%;
    padding-left: 0;
    img {
      border-radius: 10px;
    }
  }
  .bottom-content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    background: #cde7df;
    // border: 1px solid green;
    .feature {
      font-size: 10rem;
      display: flex;
      justify-content: center;
    }

    .features {
      display: flex;
      justify-content: space-between;
      padding: 8rem;
      padding-top: 20px;

      .bottom {
        width: 30%;
        margin-bottom: 30px;
      }
    }
  }
} //container
button {
  border-radius: 1em;
  height: 4rem;
  width: 15rem;
  font-size: 2rem;
  background-color: #75c8ae;
  color: white;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
